DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/qr_db?schema=public"
PORT=3000

# بيانات السوبر ادمن على هاد الشكل
ADMIN_NAME="bla bla"
ADMIN_EMAIL="bla@bla.com"
ADMIN_PASSWORD="bla bla"

# jwt هون لازم اعمل توليد لمفتاح مشان ال
JWT_SECRET="blaaaa blaaaaa"
# توليد رمز التفعيل هيك انا بزيد الحماية بحيث اذا تسربت البيانات مارح يقدر يخمن شو رمز كل طالب
QR_SECRET=""
# تفعيل رمز المحاضرة
CODE_SECRET=""